body {
    /*background-image: url("../img/reed-geiger-ItlpSSGhfyU-unsplash.jpg");
    background-size: cover;*/
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 46%, rgba(68,124,117,1) 84%, rgba(47,224,193,1) 100%);
    background-size: cover;
    background-attachment: fixed;
  }