body {
  /*background-image: url("../img/reed-geiger-ItlpSSGhfyU-unsplash.jpg");
  background-size: cover;*/
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 34%, rgba(23,23,23,1) 67%, rgba(59,66,74,1) 100%);
  background-size: cover;
  background-attachment: fixed;
}