body {
    font-family: 'Source Sans 3', sans-serif;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #000000;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-weight: 500;
}

.btn:hover {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    font-weight: 500;
}

.Minecraft h1 {
    font-size: 2000%;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.Minecraft h3 {
    font-size: 150%;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.Minecraft h2 {
    font-size: 350%;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.Minecraft p {
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.dis {
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.modal-body h2 {
    font-size: 500%;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.mt-4 h1 {
    font-size: 500%;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.dis {
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a {
    text-decoration: none;
}

.bi {
    color: black;
    width: 24;
    height: 24;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.con {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.con .card {
    position: relative;
    width: 600px;
    height: 500px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.con .card .content {
    text-align: center;
    transition: 0.5s;
}