body {
    font-family: 'Source Sans 3', sans-serif;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #000000;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-weight: 500;
}

.btn:hover {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    font-weight: 500;
}

.Minecraft h1 {
    font-size: 2000%;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.Minecraft h3 {
    font-size: 150%;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.Minecraft h2 {
    font-size: 350%;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.Minecraft p {
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.dis {
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.modal-body h2 {
    font-size: 500%;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.mt-4 h1 {
    font-size: 500%;
    font-weight: 500;
    color: rgb(255, 255, 255);
}